<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jpro.smarttrains">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="commons.Config"
        android:allowBackup="true"
        android:icon="@drawable/tt"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".activities.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SmartAvailActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AllTrainsStatus"
            android:label="@string/title_activity_all_trains_status">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainHome"
            android:label="@string/title_activity_main_home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SplitJourneyHome"
            android:label="Split Journey"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.SplitStations"
            android:label="Split Your Journey as" />
        <activity
            android:name=".activities.SplitJourneyTabbed"
            android:label="@string/title_activity_split_jouney_tabbed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.TrainsInfo" />
        <activity android:name=".activities.TrainsByNo" />
        <activity android:name=".activities.TrainRoute" />
        <activity
            android:name=".activities.SeatAvailabilitySimple"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.PnrStatusHomeActivity"
            android:label="@string/title_activity_pnr_status_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.SmartSpecificTrainAvail" />
        <activity android:name=".activities.TrainsBetweenStationActivityHome" />
        <activity android:name=".activities.OfflineRoutesActivity" />
        <activity android:name=".activities.TrainBetweenStations" />
        <activity
            android:name=".activities.About"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PNRStatusActivity"
            android:label="@string/title_activity_pnrstatus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.LiveTrainStatusHome" />
        <activity android:name=".activities.ShowTrainLiveStatus"></activity>
    </application>

</manifest>